* {
  margin: 0;
  padding: 0;
}

html, button, .btn {
  background: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
button, .btn {
  border: 3px solid white;
  padding: 1em;
  cursor: pointer;
  display: block;
}

h1 {
  margin-bottom: 1em;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
}

#start-game {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

#start-game button {
  margin: 0 auto;
}

label {
  display: block;
}

hr {
  position: relative;
  margin: 20px 0;
}
hr::after {
  content: 'OR';
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  background: black;
  top: -5px;
  padding: 0 5px;
  font-size: 0.8em;
}

input {
  background: black;
  outline: none;
  color: white;
  border: 3px solid white;
  padding: 1em;
  font-family: inherit;
}

#join-game-btn {
  display: inline;
}

#friend-code {
  margin-top: 1em;
}